* {
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    min-width: 640px;
    min-height: 480px;
    text-align: center;

    margin: 0 auto;

    background-color: slategray;

    display: block;
    position: absolute;
}

#game_field {
    height: 85%;
    min-height: 400px;
    width: 100%;
    min-width: 640px;

    top: 0px;

    margin: 0 auto;

    display: grid;
    grid-area: game;
    grid-template-areas:
        "shop_buttons      clicker"
        "upgrade_shop      clicker"
        "settings_menu     clicker"
        "settings_buttons  clicker";
    grid-template-columns: minmax(180px, 25%) minmax(440px, 75%);
    grid-template-rows: 27px 1fr 1fr 27px;

    background-image: url(resourses/graphics/sky_64.png);
    background-position: center;
    background-size: 128px;

    position: absolute;
}

#shop_buttons {
    grid-area: shop_buttons;
    height: 100%;
    min-height: fit-content;
}

#upgrade_shop {
    grid-area: upgrade_shop;
    top: 0px;

    height: 100%;
    min-height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y:auto;
}

#settings_menu {
    grid-area: settings_menu;
    bottom: 0px;

    height: 100%;
    min-height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: auto;
}

#settings_buttons {
    grid-area: settings_buttons;
    height: 100%;
    min-height: fit-content;
}

#clicker {
    width: minmax(300px, 75%);
    height: 100%;
    min-height: 400px;

    display: inline-block;
    vertical-align: baseline;
    grid-area: clicker;

    background-image: url(resourses/graphics/Island_256.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    position: relative;
}

#clicker_info {
    height: fit-content;
    width: fit-content;

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    line-height: 5px;
}

#click_button {
    width: 64px;
    height: 64px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;

    background-image: url(resourses/graphics/mine_64.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    font-weight: bold;
    color: yellow;
    user-select: none;

    cursor: pointer;
}

#darkmode {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 75%;
    z-index: 190;
    position: absolute;
    visibility: hidden;
}

#pop_up {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 40%;

    display: grid;
    grid-template-columns: 40% 60%;

    visibility: hidden;

    z-index: 200;
}

#advisor {
    background-image: url(resourses/graphics/fairy_32.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96px;
}

#advertisement_box {
    position: absolute;
    height: 15%;
    min-height: 80px;
    width: 100%;
    bottom: 0px;

    background-color: lightgrey;
    border: 3px solid black;
    background-image: url(resourses/graphics/ad_0_64.png);

    z-index: 100;
}

#advertisement_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: gold;
    border: 5px solid goldenrod;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(126, 93, 11);
    font-size: 25px;
    cursor: pointer;
}

.changable_style {
    background-color: saddlebrown;
    color: goldenrod;
    border: 3px solid maroon;
    border-radius: 5px;
}